* text=auto eol=lf
*.sh text eol=lf
*.py text eol=lf
*.md text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.tex text eol=lf
*.ipynb linguist-language=Jupyter Notebook
*.pdf binary
*.png binary
*.jpg binary
*.zip binary
papers/The-Fractal-Nature-of-an-Entropically-Driven-Society/Definitions/journalnames.tex -text
*.tar.gz filter=lfs diff=lfs merge=lfs -text
