* text=auto eol=lf
*.sh text eol=lf
*.py text eol=lf
*.md text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.tex text eol=lf
*.ipynb linguist-language=Jupyter Notebook
*.pdf binary
*.png binary
*.jpg binary
*.zip binary
