---
extends: default
rules:
  document-start:
    present: true
  truthy:
    allowed-values: ['true', 'false']
    check-keys: false
  brackets:
    min-spaces-inside: 0
    max-spaces-inside: 0
  line-length:
    max: 80
    allow-non-breakable-words: true

ignore: |
  backups/
  pcs-lm/build/
  pcs-lm/src/
  node_modules/
